/*
 *= require ./bootstrap.min
 *= require ./font-awesome.min
 *= require ./pages
 *= require_self
 */

body {
  padding-top: 30px;
  padding-bottom: 100px;
}

table tr td {
  word-break: break-all;
}
